@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", "Segoe UI", sans-serif;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #00bf63;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

header img {
  height: 120px;
}

/* Container */
.container {
  flex: 1;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 180px; /* to avoid overlap with header */
  padding-bottom: 20px;
  margin: 0 auto;
}

/* Form Box */
.form-box {
  display: none;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.form-box.active {
  display: block;
}

/* Input Styling */
input,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #00bf63;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: yellowgreen;
}

/* Error Message */
.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
}

/* Links */
p a {
  color: #2980b9;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #00bf63;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-family: "Segoe UI", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
}
